---
services:
  distributor:
    build:
      context: .
      dockerfile: distributor/Dockerfile
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - Q1result=Queue_final_Q1
    - Q21result=Queue_final_Q21
    - Q22result=Queue_final_Q22
    - Q3result=Queue_final_Q3
    - Q4result=Queue_final_Q4
    - transactionsQueue=transactionsQueue
    - itemsQueue=itemsQueue
    - productsQueues=join_products_queue_q22_1,join_products_queue_q21_1
    - storesQueues=join_stores_queue_q3_1,join_stores_queue_q4_1
    - CONFIRMATION_QUEUE=q_joins_confirmation
    - usersQueues=join_users_queue_1,join_users_queue_2,join_users_queue_3
    - numberOfJoins=7
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtroanio1_1:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=items_queue
    - PRODUCE_QUEUE=Queue_begin2_1,Queue_begin2_2
    - FILTER_NAME=byyear
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtroanio1_2:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=items_queue
    - PRODUCE_QUEUE=Queue_begin2_1,Queue_begin2_2
    - FILTER_NAME=byyear
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtroanio1_3:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=items_queue
    - PRODUCE_QUEUE=Queue_begin2_1,Queue_begin2_2
    - FILTER_NAME=byyear
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtroanio2_1:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=transaction_queue
    - PRODUCE_QUEUE=Queue_begin_4,Queue_begin_3_y_1
    - FILTER_NAME=byyear
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtroanio2_2:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=transaction_queue
    - PRODUCE_QUEUE=Queue_begin_4,Queue_begin_3_y_1
    - FILTER_NAME=byyear
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtroanio2_3:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=transaction_queue
    - PRODUCE_QUEUE=Queue_begin_4,Queue_begin_3_y_1
    - FILTER_NAME=byyear
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtrohora1_1:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin_3_y_1
    - PRODUCE_QUEUE=Queue_3,Queue_1
    - FILTER_NAME=bytime
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtrohora1_2:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin_3_y_1
    - PRODUCE_QUEUE=Queue_3,Queue_1
    - FILTER_NAME=bytime
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filtrohora1_3:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin_3_y_1
    - PRODUCE_QUEUE=Queue_3,Queue_1
    - FILTER_NAME=bytime
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filter_amount_q1_1:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_1
    - PRODUCE_QUEUE=Queue_between_filter_amount_filter_columna_Q1
    - FILTER_NAME=byamount
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filter_amount_q1_2:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_1
    - PRODUCE_QUEUE=Queue_between_filter_amount_filter_columna_Q1
    - FILTER_NAME=byamount
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filter_amount_q1_3:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_1
    - PRODUCE_QUEUE=Queue_between_filter_amount_filter_columna_Q1
    - FILTER_NAME=byamount
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filter_column_q1_1:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_filter_amount_filter_columna_Q1
    - PRODUCE_QUEUE=Queue_final_Q1
    - FILTER_NAME=bycolumn
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filter_column_q1_2:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_filter_amount_filter_columna_Q1
    - PRODUCE_QUEUE=Queue_final_Q1
    - FILTER_NAME=bycolumn
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  filter_column_q1_3:
    build:
      context: .
      dockerfile: filter/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_filter_amount_filter_columna_Q1
    - PRODUCE_QUEUE=Queue_final_Q1
    - FILTER_NAME=bycolumn
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q21_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin2_1
    - PRODUCE_QUEUE=Queue_between_aggregator_accumulator_Q21
    - TYPE=sum
    - PARAMS=item_id,quantity,month,year_month,created_at,total_quantity
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q21_2:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin2_1
    - PRODUCE_QUEUE=Queue_between_aggregator_accumulator_Q21
    - TYPE=sum
    - PARAMS=item_id,quantity,month,year_month,created_at,total_quantity
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q21_3:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin2_1
    - PRODUCE_QUEUE=Queue_between_aggregator_accumulator_Q21
    - TYPE=sum
    - PARAMS=item_id,quantity,month,year_month,created_at,total_quantity
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_accumulator_q21_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_aggregator_accumulator_Q21
    - PRODUCE_QUEUE=Queue_between_accumulator_reducer_Q21
    - TYPE=accumulator
    - PARAMS=item_id,total_quantity,year_month
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  reducer_reducer_q21:
    build:
      context: .
      dockerfile: reducer/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_accumulator_reducer_Q21
    - PRODUCE_QUEUE=Queue_between_reducer_joiner_Q21
    - TOP=1
    - PARAMS=year_month,item_id,total_quantity
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  join_productos_q21_1:
    build:
      context: .
      dockerfile: joinner/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - queueEntradaJoin=join_products_queue_q21_1
    - queueEntradaData=Queue_between_reducer_joiner_Q21
    - queuesSalida=Queue_final_Q21
    - is_last_join=True
    - CONFIRMATION_QUEUE=q_joins_confirmation
    - params=item_name,item_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q22_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin2_2
    - PRODUCE_QUEUE=Queue_between_aggregator_accumulator_Q22
    - TYPE=sum
    - PARAMS=item_id,subtotal,month,year_month,created_at,total_earnings
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q22_2:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin2_2
    - PRODUCE_QUEUE=Queue_between_aggregator_accumulator_Q22
    - TYPE=sum
    - PARAMS=item_id,subtotal,month,year_month,created_at,total_earnings
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q22_3:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin2_2
    - PRODUCE_QUEUE=Queue_between_aggregator_accumulator_Q22
    - TYPE=sum
    - PARAMS=item_id,subtotal,month,year_month,created_at,total_earnings
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_accumulator_q22_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_aggregator_accumulator_Q22
    - PRODUCE_QUEUE=Queue_between_accumulator_reducer_Q22
    - TYPE=accumulator
    - PARAMS=item_id,total_earnings,year_month
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  reducer_reducer_q22:
    build:
      context: .
      dockerfile: reducer/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_accumulator_reducer_Q22
    - PRODUCE_QUEUE=Queue_between_reducer_joiner_Q22
    - TOP=1
    - PARAMS=year_month,item_id,total_earnings
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  join_productos_q22_1:
    build:
      context: .
      dockerfile: joinner/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - queueEntradaJoin=join_products_queue_q22_1
    - queueEntradaData=Queue_between_reducer_joiner_Q22
    - queuesSalida=Queue_final_Q22
    - is_last_join=True
    - CONFIRMATION_QUEUE=q_joins_confirmation
    - params=item_name,item_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q3_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_3
    - PRODUCE_QUEUE=Queue_between_aggregators_accumulator_Q3
    - TYPE=sum
    - PARAMS=store_id,final_amount,semester,year_semester,created_at,tpv
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q3_2:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_3
    - PRODUCE_QUEUE=Queue_between_aggregators_accumulator_Q3
    - TYPE=sum
    - PARAMS=store_id,final_amount,semester,year_semester,created_at,tpv
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_suma_q3_3:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_3
    - PRODUCE_QUEUE=Queue_between_aggregators_accumulator_Q3
    - TYPE=sum
    - PARAMS=store_id,final_amount,semester,year_semester,created_at,tpv
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_accumulator_q3_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_aggregators_accumulator_Q3
    - PRODUCE_QUEUE=Queue_between_accumulator_join_Q3
    - TYPE=accumulator
    - PARAMS=store_id,tpv,year_semester
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  join_stores_q3_1:
    build:
      context: .
      dockerfile: joinner/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - queueEntradaJoin=join_stores_queue_q3_1
    - queueEntradaData=Queue_between_accumulator_join_Q3
    - queuesSalida=Queue_final_Q3
    - is_last_join=True
    - CONFIRMATION_QUEUE=q_joins_confirmation
    - params=store_name,store_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_counter_q4_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin_4
    - PRODUCE_QUEUE=Queue_between_aggregators_accumulator_Q4
    - TYPE=counter
    - PARAMS=store_id,user_id,purchases_qty
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_counter_q4_2:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin_4
    - PRODUCE_QUEUE=Queue_between_aggregators_accumulator_Q4
    - TYPE=counter
    - PARAMS=store_id,user_id,purchases_qty
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_counter_q4_3:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_begin_4
    - PRODUCE_QUEUE=Queue_between_aggregators_accumulator_Q4
    - TYPE=counter
    - PARAMS=store_id,user_id,purchases_qty
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  aggregator_accumulator_q4_1:
    build:
      context: .
      dockerfile: aggregator/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_aggregators_accumulator_Q4
    - PRODUCE_QUEUE=Queue_between_accumulator_reducer_Q4
    - TYPE=accumulator
    - PARAMS=store_id,purchases_qty,user_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  reducer_reducer_q4:
    build:
      context: .
      dockerfile: reducer/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - CONSUME_QUEUE=Queue_between_accumulator_reducer_Q4
    - PRODUCE_QUEUE=Queue_between_reducer_joiner_Q4
    - TOP=3
    - PARAMS=store_id,user_id,purchases_qty
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  join_users_q4_1:
    build:
      context: .
      dockerfile: joinner/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - queueEntradaJoin=join_users_queue_1
    - queueEntradaData=Queue_between_reducer_joiner_Q4
    - queuesSalida=conection_join_1
    - is_last_join=False
    - CONFIRMATION_QUEUE=q_joins_confirmation
    - params=birthdate,user_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  join_users_q4_3:
    build:
      context: .
      dockerfile: joinner/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - queueEntradaJoin=join_users_queue_3
    - queueEntradaData=conection_join_2
    - queuesSalida=Queue_between_joiner_users_and_joiner_stores_Q4
    - is_last_join=True
    - CONFIRMATION_QUEUE = q_joins_confirmation
    - params=birthdate,user_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  join_users_q4_2:
    build:
      context: .
      dockerfile: joinner/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - queueEntradaJoin=join_users_queue_2
    - queueEntradaData=conection_join_1
    - queuesSalida=conection_join_2
    - is_last_join=False
    - CONFIRMATION_QUEUE = q_joins_confirmation
    - params=birthdate,user_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini
  join_stores_q4_1:
    build:
      context: .
      dockerfile: joinner/Dockerfile
    depends_on:
    - distributor
    restart: on-failure
    environment:
    - PYTHONUNBUFFERED=1
    - queueEntradaJoin=join_stores_queue_q4_1
    - queueEntradaData=Queue_between_joiner_users_and_joiner_stores_Q4
    - queuesSalida=Queue_final_Q4
    - is_last_join=True
    - CONFIRMATION_QUEUE=q_joins_confirmation
    - params=store_name,store_id
    networks:
    - mynet
    volumes:
    - ./config.ini:/app/config.ini


  cliente_1:
    build:
      context: .
      dockerfile: client/Dockerfile
    restart: on-failure
    depends_on:
    - distributor
    links:
    - distributor
    environment:
    - PYTHONUNBUFFERED=1
    - DISTRIBUTOR_HOST=distributor
    - DISTRIBUTOR_PORT=5000
    volumes:
    - ./config.ini:/app/config.ini
    - ./csvs_files:/app/csvs_files
    - ./csvs_files_reduced:/app/csvs_files_reduced
    - ./csvs_files_juguete:/app/csvs_files_juguete
    - ./results_cliente_1:/app/results
    networks:
    - mynet
networks:
  mynet:
    external: false
    driver: bridge
